
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.website-icon {
  width:40px;
  margin-right:10px;
}

.text-muted {
  color:rgba(255,255,255,0.5) !important;
}

.bg-white, .navbar-dark, .navbar-brand {
  color:white !important;
}

.project-tab {
  padding-left:5px;
  padding-right:5px;
  margin-left:-1px;
}

.tertiary-bg {
  background-color:#000000 !important;
}

#sidebar {
  font-size: 0.8rem !important;
}

.nav-link.active {
  background-color:grey !important;
}

.inline-block {
  display: inline-block;
}

.fs-7{
  font-size:8pt;
}

.pill-Requested {
  background-color: hotpink;
}
.pill-InProgress {
  background-color: deepskyblue;
}
.pill-ForReview {
  background-color: orange;
}
.pill-Completed {
  background-color: chartreuse;
}
.pill-Archived {
  background-color: white;
}
  

.tab-pane#Requested .card {
  border:1px solid hotpink;
}
.tab-pane#InProgress .card {
  border:1px solid deepskyblue;
}
.tab-pane#ForReview .card {
  border:1px solid orange;
}
.tab-pane#Completed .card {
  border:1px solid rgb(88, 112, 64);
}
.tab-pane#Archived .card {
  border:1px solid white;
  color:black;
}

.bg-dark-medium {
  background-color:#3f3f3f;
}

button.btn.btn-secondary {
  background-color:#3f3f3f;
  border:none;
}

.bg-black {
  background-color:#181818 !important;
}

.deleteButton {
  color:rgb(116, 116, 116);
  border:1px dotted grey;
}
.deleteButton:hover {
  color:red;
  cursor:pointer;
}

.bg-purple {
  background-color:#41004d !important;
}

.bg-blue {
  background-color:#00695f !important;
}

input::placeholder {
  color: rgb(173, 173, 173)!important;
  opacity: 1; /* Firefox */
}

/* Dark mode */
@media (prefers-color-scheme: light) {
   .bg-white, .btn.btn-dark, .navbar.navbar-dark button.navbar-toggler, .navbar-toggler-icon, button.btn.btn-secondary {
     background-color:#ffffff !important;
     color:black !important;
   }

   #sidebar, .navbar.navbar-dark.bg-dark, .navbar-brand {
    background-color:#ffffff !important;
    color:rgb(78, 78, 78) !important;
   }

   .btn.btn-dark, .navbar-toggler, button.btn.btn-secondary {
    border-color:#dadada !important;
   }

   #sidebar .card.bg-dark {
    background-color:#ffffff !important;
   }

   .tab-content button.card {
    background-color:#ffffff !important;
   }

   .bg-dark {
    background-color:#ffffff !important;
   }

   .text-light{
    color:black !important;
   }

   .bg-dark-medium, .bg-secondary, .nav-link.active, .badge.badge-secondary {
     background-color:#ffffff !important;
     color:black;
   }
   
   .bg-black {
     background-color:#ffffff !important;
   }

   .bg-purple {
     background-color:#f9d9ff !important;
   }
   
   .bg-blue {
     background-color:#defffc !important;
   }

   .border-secondary {
       border-color:#dadada !important;
   }

  .tab-pane#Requested .card {
    border:1px solid rgb(255, 108, 181, 0.5);
  }
  .tab-pane#InProgress .card {
    border:1px solid rgb(0, 191, 255, 0.5);
  }
  .tab-pane#ForReview .card {
    border:1px solid rgb(255, 166, 0, 0.5);
  }
  .tab-pane#Completed .card {
    border:1px solid rgb(88, 112, 64, 0.5);
  }

  button.btn, button.card, button.btn.btn-secondary, input[type="radio"] {
    color:rgb(3, 110, 153) !important;
    font-weight:bold;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cfcfcf;
    transform:translateX(3px)
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  transform:translateX(3px)
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  transform:translateX(3px)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  overflow-y: hidden;
}

@media only screen and (max-width: 800px) {
  .hide-sm {
    display:none;
  }

  main {
    overflow-y: scroll;
  }
}

.dragging {
  opacity: 0.5;
  border: 2px dashed #ccc !important;
  background-color:white;
  cursor: grabbing;
  z-index: 1000;
}

button.btn, button.card, button.btn.btn-secondary, input[type="radio"], .card.task-card {
  font-weight:bold;
}