
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.website-icon {
  width:40px;
  margin-right:10px;
}

.project-tab {
  padding-left:5px;
  padding-right:5px;
  margin-left:-1px;
}

.tertiary-bg {
  background-color:#000000 !important;
}

#sidebar {
  font-size: 0.8rem !important;
}

.nav-link.active {
  background-color:grey !important;
}

.inline-block {
  display: inline-block;
}

.fs-7{
  font-size:8pt;
}

.pill-Requested {
  background-color: hotpink;
}
.pill-InProgress {
  background-color: deepskyblue;
}
.pill-ForReview {
  background-color: orange;
}
.pill-Completed {
  background-color: chartreuse;
}
.pill-Archived {
  background-color: white;
}
  

.tab-pane#Requested .card {
  border:1px solid hotpink;
}
.tab-pane#InProgress .card {
  border:1px solid deepskyblue;
}
.tab-pane#ForReview .card {
  border:1px solid orange;
}
.tab-pane#Completed .card {
  border:1px solid chartreuse;
}
.tab-pane#Archived .card {
  border:1px solid white;
  color:black;
}
