
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.website-icon {
  width:40px;
  margin-right:10px;
}

.project-tab {
  padding-left:5px;
  padding-right:5px;
  margin-left:-1px;
}

.tertiary-bg {
  background-color:#000000 !important;
}

#sidebar {
  font-size: 0.8rem !important;
}

.nav-link.active {
  background-color:grey !important;
}

.inline-block {
  display: inline-block;
}

.fs-7{
  font-size:8pt;
}

.pill-Requested {
  background-color: hotpink;
}
.pill-InProgress {
  background-color: deepskyblue;
}
.pill-ForReview {
  background-color: orange;
}
.pill-Completed {
  background-color: chartreuse;
}
.pill-Archived {
  background-color: white;
}
  

.tab-pane#Requested .card {
  border:1px solid hotpink;
}
.tab-pane#InProgress .card {
  border:1px solid deepskyblue;
}
.tab-pane#ForReview .card {
  border:1px solid orange;
}
.tab-pane#Completed .card {
  border:1px solid rgb(88, 112, 64);
}
.tab-pane#Archived .card {
  border:1px solid white;
  color:black;
}

.bg-dark-medium {
  background-color:#3f3f3f;
}

.bg-black {
  background-color:#181818 !important;
}

.deleteButton {
  color:rgb(116, 116, 116);
  border:1px dotted grey;
}
.deleteButton:hover {
  color:red;
  cursor:pointer;
}

.bg-purple {
  background-color:#41004d !important;
}

.bg-blue {
  background-color:#00695f !important;
}

/* Dark mode */
@media (prefers-color-scheme: light) {
   .bg-white, .navbar-dark, .navbar-brand {
     background-color:white !important;
     color:black !important;
   }

   .bg-dark {
    background-color:white !important;
   }

   .text-light{
    color:black !important;
   }

   .bg-dark-medium, .bg-secondary, .nav-link.active, .badge.badge-secondary {
     background-color:#f5f5f5 !important;
     color:black;
   }
   
   .bg-black {
     background-color:#ffffff !important;
   }

   .bg-purple {
     background-color:#f9d9ff !important;
   }
   
   .bg-blue {
     background-color:#defffc !important;
   }

   .border-secondary {
       border-color:rgba(0,0,0,0.1) !important;
   }

  .tab-pane#Requested .card {
    border:1px solid rgb(255, 108, 181, 0.5);
  }
  .tab-pane#InProgress .card {
    border:1px solid rgb(0, 191, 255, 0.5);
  }
  .tab-pane#ForReview .card {
    border:1px solid rgb(255, 166, 0, 0.5);
  }
  .tab-pane#Completed .card {
    border:1px solid rgb(88, 112, 64, 0.5);
  }
}